[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tjaalton
[access "refs/for/refs/*"]
	read = group user/tjaalton
	push = group user/tjaalton
	label-Code-Review = -2..+2 group user/tjaalton
	label-Verified = -1..+1 group user/tjaalton
	rebase = group user/tjaalton
	removeReviewer = group user/tjaalton
	submit = group user/tjaalton
[access "refs/heads/*"]
	read = group user/tjaalton
	create = group user/tjaalton
	push = +force group user/tjaalton
	pushMerge = group user/tjaalton
[access "refs/tags/*"]
	push = group user/tjaalton
	push = +force group user/tjaalton
